body {
	background: #fefefe;
	color: #333;
}



.navigation {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 16px;
	background: #fff;
}

.navigation__link {
	color: #1A936F;
}



.main {
	width: 100%;
	max-width: 700px;
	margin: 32px auto;
	padding-top: 50px;
}



.header {
	color: yellow;
}

.header__title {
color: #00487c;
margin-bottom: 48px;
}



.about {}

.about__box {
	width: 100px;
	height: 100px;
	background: yellowgreen;
	padding: 10px;
	box-sizing: border-box;
	border: 10px solid red;
	position: sticky;
	top: 0;
}

.about__header {
	color: #1460aa;
}

.about__link {
	color: #1A936F;
}

.about__paragraph {
	padding: 16px;
	font-size: 20px;
}


.about__paragraph--mini {
	font-size: 16px;
}


.about__picture {
	width: 100%;
	max-width: 100px;
	display: block;
	float: left;
	margin: 0 16px 16px 0;
}



.diary {
	clear: both;
}

.diary__header {
	color: #1460aa;
}

.day {
}

.day__header {
	color: #0496FF;
}

.day__content {}

.day__link {}



.footer {}

.top {
	position: fixed;
	bottom: 10px;
	right: 10px;
	color: #1A936F;
	text-decoration: none;
}