body {
	background: #fefefe;
	color: #333;
}

.sectionHeader, .diaryHeader {
	color: #1460aa;
}


.header {
	color: yellow;
}

.heading {
	color: #00487c;
}

.thirdHeader {
color: #0496FF;
}

.link {
color: #1A936F;
}

.about {
	width: 100%;
	max-width: 700px;
}