html {
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inherit;
}




body {
	background: #fefefe;
	color: #333;
}

.site__header {
	background: #fff;
	box-sizing: border-box;
	left: 0;
	position: fixed;
	padding: 16px;
	top: 0;
	width: 100%;
}

.navigation {}

.navigation__list {
	list-style: none;
	padding: 0;
}

.navigation__item {
	display: inline;
}

.navigation__link {
	color: #1A936F;
}

.main {
	max-width: 700px;
	margin: 32px auto;
	padding-top: 50px;
	width: 100%;
}

.header {
	color: yellow;
}

.header__title {
	color: #00487c;
	margin-bottom: 48px;
}

.about {}

.about__box {
	background: yellowgreen;
	border: 10px solid red;
	box-sizing: border-box;
	height: 100px;
	padding: 10px;
	position: sticky;
	top: 0;
	width: 100px;
}

.about__header {
	color: #1460aa;
}

.about__link {
	color: #1A936F;
}

.about__paragraph {
	font-size: 20px;
	padding: 16px;
}

.about__paragraph--mini {
	font-size: 16px;
}

.about__picture {
	display: block;
	float: left;
	max-width: 100px;
	margin: 0 16px 16px 0;
	width: 100%;
}

.hobby {}

.hobby__list {
	list-style: none;
	padding: 0;
}

.diary {
	clear: both;
}

.diary__header {
	color: #1460aa;
}

.day {
	padding: 16px;
}

.day__header {
	color: #0496FF;
	font-size: 20px;
	margin: 0 0 16px;
}

.day__header-sunday {
	color: darkred;
}

.day__content {
	line-height: 24px;
	margin: 0;
	padding: 0;
}

.day__link {
	color: #1A936F;
}


.data {}

.table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
}

.table__caption {
	color: #f9c802;
	font-size: 33px;
	font-weight: bold;
	margin: 5px;
	text-shadow: 2px 1px 0 #e30613;
}

.table__thead {
	background-color: #006ba6;
	color: navajowhite;
}

.table__thead--row {}

.table__thead--title {
	border: 1px solid black;
	padding: 5px;
}

.table__tbody {
}

.table__tbody--row {}

.table__tbody--name {

}

.table__tbody--title {
	background-color: #f9c802;
	border: 1px solid black;
	padding: 5px;
	text-align: center;
}


.footer {}

.footer__top {
	bottom: 10px;
	color: #1A936F;
	position: fixed;
	right: 10px;
	text-decoration: none;
}